<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servi Wash</title>
    <link rel="icon" href="Fast2.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="Fast.png"
            alt="Logo"
            width="80"
            height="70"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">Conócenos</a>
            <a class="nav-link active" aria-current="page" href="#"
              >Servicios</a
            >
            <a class="nav-link" href="#">Franquicias</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container container-fluid mt-4">
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Celular</th>
            <th>Placa</th>
            <th>Modelo vehículo</th>
            <th>Fecha y Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <th:block>
                <label />
                <th:block>, </th:block>
              </th:block>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
